* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: #dddddd;
  --secondary: #2c3639;
  --tertiary: #dcd7c9;
  --light: #f9f3f3;
  --cultured: #a3a3a3;
  --dark: #000000;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.navbar {
  background-color: var(--secondary);

  font-weight: 500;
}

.navbar-brand {
  font-size-adjust: 150px;
}

.main-container {
  min-height: max-content; /* will cover the 100% of viewport */
  padding-bottom: 6rem;
}

#curve {
  width: 25%;
  height: auto;
  float: left;
  margin-right: 2rem;
  shape-outside: circle();
  text-align: center;
  border-radius: 50%;
}
#my-info {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 22px;
}

#card-data {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}
.card {
  background-color: white;
  border-radius: 5px;
  margin: 2rem;
  position: relative;
  box-shadow: 0 2px 2px #a3a3a3, 0 6px 12px #a3a3a3;
}
.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: white;
}
.card .content {
  font-size: 18px;
  background-color: white;
  color: #a3a3a3;
  font-weight: bold;
  text-align: center;
}

.card-title {
  margin-top: 4px;
  font-size: 25px;
  color: black;
}
.topics {
  font-size: small;
  font-style: italic;
  color: #474646;
  background-color: white;
}
input,
textarea {
  width: 400px;
}
.form-label {
  font-weight: 400;
}

.icon {
  width: 50px;
  height: 50px;
}

.small-container {
  max-width: 600px;
  margin: auto;

  padding: 10px;
}
.card-link {
  color: blue;
}
.card-link:hover {
  color: dimgray;
}
footer {
  position: absolute;
  background-color: var(--cultured);

  bottom: 0;
  width: 100%;
  height: 6rem;
}
@media only screen and (max-width: 600px) {
  #curve {
    width: 20%;
  }
  #my-info {
    font-size: 18px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
}
