body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: #DDDDDD;
  --secondary: #2C3639;
  --tertiary: #DCD7C9;
  --light: #F9F3F3;
  --cultured: #A3A3A3;
  --dark: #000000;
}
.navbar{
background-color: var(--secondary);

font-weight: 500;
}
 
.navbar-brand{
  font-size-adjust: 150px;
}
.footer{
  background-color:var(--tertiary) ;
}


#curve{
  width: 25%;
  height: auto;
  float: left;
  margin-right: 2rem;
  shape-outside: circle();
  text-align: center;
  border-radius: 50%;
}
#my-info{
font-family:Georgia, 'Times New Roman', Times, serif;
text-align: justify;
font-size: 22px;
}

#card-data {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}
.card {
  background-color: white;
  border-radius: 5px;
  margin: 2rem;
  position: relative;
  box-shadow: 0 2px 2px #A3A3A3, 0 6px 12px #A3A3A3;
}
.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom:20px;
  background-color: white;
}
.card .content {
  font-size: 18px;
  background-color: white;
  color:#A3A3A3;
  font-weight: bold;
  text-align: center;
}

.card-title{
  margin-top: 4px;
  font-size: 25px;
  color: black;
}
.topics {
  font-size: small;
  font-style: italic;
  color: #474646;
  background-color: white
}
input, textarea {
  width: 400px;
}
.form-label{
  font-weight: 400;
}

  .icon{
    width: 50px;
    height: 50px;
  }

 