body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.about{
  margin: 20px;
  text-align: center;
}
#curve{
  width: 25%;
  height: auto;
  float: left;
  margin-right: 2rem;
  shape-outside: circle();
  text-align: center;
  /* max-height:300px; */
  border-radius: 50%;
}
#my-info{
text-align: justify;
font-size: 22px;
}

#card-data {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}
.card {
  background-color: rgb(165, 166, 164);
  border-radius: 5px;
  margin: 2rem;
  position: relative;
  box-shadow: 0 2px 2px var(--cultured), 0 6px 12px var(--cultured);
}
.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--white);
}
.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom:0px;
  background-color: var(--white);
}
.card .content {
  font-size: 18px;
  background-color: var(--white);
  color: var(--cadet-blue);
  font-weight: bold;
  text-align: center;
}

.card-title{
  margin-top: 10px;
  color: var(--eerie-black);
}
.topics {
  font-size: small;
  font-style: italic;
  color: var(--cultured);
  background-color: var(--white)
}
